extends Layouts/Main-Layout.pug

block styles
        link(rel="stylesheet", href="/CSS/Forms.css")
        link(rel="stylesheet", href="/CSS/Product.css")

block content
    main
        form.product-form(action="/Admin/add-product", method="POST")
            .form-control
                label(for="title") Title
                input(type="text", name="title")#title
                

            button.btn(type="submit") Add Product
            

