<%- include('../Includes/Head.ejs') %>
</head>

<body>
    
    <%- include('../Includes/Navigation.ejs') %>

    <main>
        <h1>
            Nothing there !!
        </h1>
    </main>
    
    <%- include('../Includes/End.ejs') %>